.footerContainer {
    min-width: 100vw;
    height: 100px;
    background-color: #2764b0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.footer p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.socialLinks {
    display: flex;
    gap: 40px;
}

.socialLinks a {
    font-size: 32px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        height: 120px;
    }
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}