/* styles.css */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid black;
  }
  
.logoContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  height: 60px;
  width: 60px;
  background-color: #2764b0;
}

.logoName {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.08em;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navLink {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
}

.navLink:hover {
  color: #2764b0;
}
/* TODO: Button and nav links hover effects */
.button {
  background-color: #2764b0;
  border: none;
  color: #fff;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.button:hover {
  background-color: #012147;
}
  