/* Description Banner and animation */

.banner {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    color: #222F4B;
}
.description h1 {
    font-size: 48px;
}

.description p {
    font-size: 42px;
}

.description p span {
    color: #2764b0;
}

.banner button {
    background-color: #2764b0;
    border: none;
    color: #fff;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 5%;
}

.animation {
    width: 50%;
    height: 300px;
    margin: 7% auto;
    background-color: rgb(222, 220, 220);
    text-align: center;
}


/* Features and Benefits */

.featuresBanner {
    width: 100%;
    min-height: 75vh;
    background-color: #EBF2FF;
    padding: 75px 0px;
}

.featuresBannerHeading {
    text-align: center;
    color: #2F4682;
    line-height: 60px;
}

.featuresBannerHeading h1{
    font-size: 48px;
    font-weight: 700;
}

.featuresBannerHeading p {
    font-size: 20px;
    font-weight: 400;
}

.features {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.featureDescription {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 350px;
}

.featureDescription h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: #2F4682;
}

.featureDescription ul li{
    list-style-type: disc;
    font-size: 18px;
    color: #1D254F;
    padding-top: 30px;
    line-height: 24px;
}


/* Resources Section */

.resourcesSection {
    display: flex;
    flex-direction: column;
    padding: 75px 0px;
}
.resourcesHeading {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #2F4682;
}

.resources {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0 20px;
}

.resourceCard {
    width: 300px;
    text-align: center;
}

.resourceCard h1 {
    padding: 20px 0;
    background-color: #2764b0;
    color: #fff;
}

.resourceCardImg {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.resourceCard:hover {
    opacity: 0.9;
}