/* Description Banner and animation */

.banner {
    width: 100%;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    color: #222F4B;
}

.description h1 {
    font-size: 48px;
}

.description p {
    font-size: 42px;
}

.description p span {
    color: #2764b0;
}

#homeButton {
    margin-top: 46px;
}

.animation {
    width: 45%;
    height: 45%;
    margin: 5% auto;
    text-align: center;
}

/* Tablet View of Description Banner and animation*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .description {
        margin: 0 20px;
    }
    .animation {
        width: 60%;
        height: 60%;
        margin: 8% auto;
    }
}


/* Mobile view of Description Banner and animation*/
@media screen and (max-width: 767px) {
    .banner {
        margin-top: 140px;
    }
    .description {
        line-height: 56px;
        margin: 0 6%;
    }
    .description h1 {
        font-size: 34px;
    }
    
    .description p {
        font-size: 20px;
    }

    .animation {
        width: 85%;
        height: 85%;
        margin: 60px auto;
    }

    #homeButton {
        margin-top: 36px;
    }
}
